<h1>Contact Us</h1>

<div class="row">
  <div class="col-sm-4">
  <address>
  	Taco FoodTruck<br>

  	8888 University Dr, Burnaby, BC V5A<br>

  	Apply to Ruby on Rails 5.0 (@UP)<b4>
  </address>
  </div>
  <div class ="col-sm-8">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.9503962072354!2d-122.91623068767393!3d49.27733713494129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548679c0857a2227%3A0x506c3f6e30b55b!2sSimon+Fraser+University!5e0!3m2!1sen!2sca!4v1530691329429" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
