<h1>Welcome to FoodTruck</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= "Welcome to POS my FoodTruck!" %>

<%= link_to "MENU", menu_path %>
<%= link_to "Order", order_path %>
<%= link_to "Contact Us", contact_us_path %>