<h1>FoodTruck#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "Message from Controller : 
#{@controller_message}" %>

<%= link_to("Go to Index",
	{:controller => 'welcome',
		:action =>'index'}) %>

